--trusted-host mirrors.tencent.com
    --index-url http://mirrors.tencent.com/pypi/simple
    --extra-index-url http://mirrors.tencent.com/repository/pypi/tencent_pypi/simple
Flask
openpyxl
xmindparser
pandas
xlrd >= 1.0.0
matplotlib